
.project {
    padding: 1%; 
    padding-left: 9%;
    padding-right: 9%;
    flex-direction: column;
}
.project-title {
    color: var(--Text-Greyscale-900, #212121);
    font-family: Urbanist;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    letter-spacing: 0.0125rem;
    width: 100%;
}
.project-container {
    width: 100%;
    height: 100vh;
}
.project-container-details {
    margin-top: 1%;
    width: 100%;
    height: 55%;
}
.project-image {
    width: 49%;
    float: left;
    height: 100%;
    border-radius: 6px;
}
.project-details {
    color: var(--Text-Greyscale-600, #757575);
    text-align: justify;
    font-family: Urbanist;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: 0.2px;
    width: 49%;
    float: right;
    height: 100%;
    position: relative;

}
.project-details-items {
    margin-top: 3%;
    display: block;
    float: left;
    position: relative;}
.project-details-text {
    word-wrap: break-word;
    position: absolute;
    bottom: -3%;
    text-align: justify;
    display: block;
    float: left;
    position: relative;
}
.project-details-text::first-letter{font-weight: bold;}
.project-details-items{animation-iteration-count: 1;}
.project-details-item-1{animation:fading1 1s}@keyframes fading1{0%{opacity:0}100%{opacity:1}}
.project-details-item-2{animation:fading1 2s}@keyframes fading1{0%{opacity:0}100%{opacity:1}}
.project-details-item-3{animation:fading1 2s}@keyframes fading1{0%{opacity:0}100%{opacity:1}}
.project-details-item-4{animation:fading1 2s}@keyframes fading1{0%{opacity:0}100%{opacity:1}}
.project-details-item-5{animation:fading1 4s}@keyframes fading1{0%{opacity:0}100%{opacity:1}}

.project-gallery{ 
    width: 100%; 
    padding-bottom: 2%; 
    position: relative;
    float: left;
    overflow: visible;
}
.project-gallery-phone{
    display: none;
    width: 100%; 
    padding-bottom: 2%; 
    position: relative;
    float: left;
    overflow: visible;
}
.project-gallery-card{
    float: left; 
    width: 23.5%;
    margin-top: 2%;
    margin-right: 2%;
    aspect-ratio: 1 / 0.7;
    border-radius: 6px;
    overflow: hidden;
    cursor: pointer;
}
.project-gallery-card:nth-child(4n) {
    margin-right: 0; /* حذف پدینگ برای المان‌هایی که مضرب 4 هستند */
}
.roject-gallery-card-image{
    width: 100%;
    height: 100%;
    rotate: 0deg;
    transition: all 1s;
    top: 0;
    left: 0;
}
.roject-gallery-card-image:hover{
    padding: absolute;
    width: 125%;
    height: 125%; 
    top: -30%;
    left: -30%;
}
.filter-bar-container-item-component-selects{
    display: contents;
}
/*-----------------------------------------------------------------------*/
@media only screen and (max-width: 600px) {
    .project-gallery-phone{
        display: block ;
    }
    .project-gallery{
        display: none;
    }
    .filter-bar-container-item-component-selects{
        display: block;
    }
    .project {
        margin-left: 0%;
        margin-right: 0%;
        display: block; 
        padding: 0%; 
    }
    .Project-main{
        position: relative;
        display: block; 
        float: left;
        overflow-x: hidden;
        margin-left: 4%;
        margin-right: 4%;
        margin-top: 4%; 
    }
    .project-container{
        height: auto;
    }
    .project-image{
        width: 100%;
        border-radius: 2px;
    }
    .project-details-manager{
        margin: 8% 0%;
    }
    .project-details-items{
        margin-bottom: 8%;
    }
    .project-details{
        width: 100%;
    }
    .project-details-items{
        position: relative;
        float: left;
    }
    .project-details-text{
        position: relative;
        float: left;
    }
    .project-container-details {
        margin-top: 4%;
        width: 100%;
        height: 55%;
        float: left;
        position: relative;
    }

    .project-gallery{
        margin-top: 5%;
    }
    .project-gallery-card{
        float: left;
        width: 100%;
        margin-top: 6%;
        margin-right: 2%;
        aspect-ratio: 1 / 0.7;
        border-radius: 6px;
        overflow: hidden;
        cursor: pointer;
    }
}